*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    align-items: center;
    justify-content: center;
}

.container img{
    height: 100%;
    width: 100%;
}

.newpasswordform{
    position: absolute;
    z-index: 1;
    background-color: rgb(38 141 177);
    border-radius: 20px;
    width: 600px;
    height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 75%;
}

#heading{
    color: rgb(243, 168, 28);
    font-size: 30px;
}

.newpasswordform p{
    color: rgb(233 211 101);
    font-size: 20px;
    margin-top: 20px;
}

#form{
    margin-left: 120px;
}

#form input{
    padding: 3px;
    font-size: 18px;
    border-radius: 15px;
}

#newpassbtn{
    margin-left: 75px;
    padding: 3px;
}