*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lemonada',cursive;
}

.header{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(blue,pink);
    color: aliceblue;
    padding-top: 10px;
    padding-left: 20px;
}

.question{
    height: 450px;
    width: 450px;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 25px 35px rgba(0,0,0,0.9);
    border-radius: 20px;
    display: grid;
    opacity: 90%;
    margin-left: 380px;

}