*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    align-items: center;
    justify-content: center;
}

.container img{
    height: 100%;
    width: 100%;
}

.newpasswordform{
    position: absolute;
    z-index: 1;
    background-color: rgb(45, 161, 182);
    border-radius: 20px;
    width: 400px;
    height: 400px; 
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 75%;
    text-align: center;
}

#heading{
    color: rgb(206, 21, 61);
    font-size: 40px;
    text-shadow: 2px 2px 1px rgb(240, 231, 102);
    font-style: italic;
    font-family: "Gorgeia";

}

.newpasswordform p{
    color: rgb(212, 86, 14);
    font-size: 28px;
    margin-top: 12px;
    text-align: justify;
}

#form{
    margin-left: 12px;
}

#form input{
    padding: 3px;
    font-size: 20px;
    border-radius: 15px;
}

#newpassbtn{
    text-align: justify;
    border-color: blueviolet;
    border-style: double;

    padding: 6px;
}